@page "/acercade"

<PageTitle>Acerca de</PageTitle>

<h1>Acerca de</h1>

<div style="margin-left:auto;margin-right:auto; width:300px" >
    <img src="img/f1.jpg" /><br/>
    <h3>JOSE BERNARDO LORENZO ALMONTE</h3>
    <a href="https://wa.link/9balko" target="_blank" >Whatsapp</a>
    <a href="https://t.me/josebernardolorenzo" >Telegram</a>
</div>


